In [3]:
#Importing libraries for data pre-processing and analysis
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

dataset_path = "../Dataset/Renewable.csv"
data_frame = pd.read_csv(dataset_path)

In [2]:
print(data_frame)

                       Time  Energy delta[Wh]   GHI  temp  pressure  humidity  \
0       2017-01-01 00:00:00                 0   0.0   1.6      1021       100
1       2017-01-01 00:15:00                 0   0.0   1.6      1021       100
2       2017-01-01 00:30:00                 0   0.0   1.6      1021       100
3       2017-01-01 00:45:00                 0   0.0   1.6      1021       100
4       2017-01-01 01:00:00                 0   0.0   1.7      1020       100
...                     ...               ...   ...   ...       ...       ...
196771  2022-08-31 16:45:00               118  23.7  18.6      1023        57
196772  2022-08-31 17:00:00                82  15.6  18.5      1023        61
196773  2022-08-31 17:15:00                51   8.0  18.5      1023        61
196774  2022-08-31 17:30:00                24   2.1  18.5      1023        61
196775  2022-08-31 17:45:00                 0   0.0  18.5      1023        61

        wind_speed  rain_1h  snow_1h  clouds_all  isSun  sunlightTime  \
0              4.9      0.0      0.0         100      0             0
1              4.9      0.0      0.0         100      0             0
2              4.9      0.0      0.0         100      0             0
3              4.9      0.0      0.0         100      0             0
4              5.2      0.0      0.0         100      0             0
...            ...      ...      ...         ...    ...           ...
196771         3.8      0.0      0.0          52      1           780
196772         4.2      0.0      0.0          60      1           795
196773         4.2      0.0      0.0          60      1           810
196774         4.2      0.0      0.0          60      1           825
196775         4.2      0.0      0.0          60      0             0

        dayLength  SunlightTime/daylength  weather_type  hour  month
0             450                    0.00             4     0      1
1             450                    0.00             4     0      1
2             450                    0.00             4     0      1
3             450                    0.00             4     0      1
4             450                    0.00             4     1      1
...           ...                     ...           ...   ...    ...
196771        825                    0.95             3    16      8
196772        825                    0.96             3    17      8
196773        825                    0.98             3    17      8
196774        825                    1.00             3    17      8
196775        825                    0.00             3    17      8

[196776 rows x 17 columns]

In [4]:
#Get the first 5 rows for easier view of data
data_frame.head(5)

,Time,Energy delta[Wh],GHI,temp,pressure,humidity,wind_speed,rain_1h,snow_1h,clouds_all,isSun,sunlightTime,dayLength,SunlightTime/daylength,weather_type,hour,month
0,2017-01-01 00:00:00,0,0.0,1.6,1021,100,4.9,0.0,0.0,100,0,0,450,0.0,4,0,1
1,2017-01-01 00:15:00,0,0.0,1.6,1021,100,4.9,0.0,0.0,100,0,0,450,0.0,4,0,1
2,2017-01-01 00:30:00,0,0.0,1.6,1021,100,4.9,0.0,0.0,100,0,0,450,0.0,4,0,1
3,2017-01-01 00:45:00,0,0.0,1.6,1021,100,4.9,0.0,0.0,100,0,0,450,0.0,4,0,1
4,2017-01-01 01:00:00,0,0.0,1.7,1020,100,5.2,0.0,0.0,100,0,0,450,0.0,4,1,1

In [6]:
#Get the botton 5 rows to get a feel of how the data evolves from the top down
data_frame.tail(5)

,Time,Energy delta[Wh],GHI,temp,pressure,humidity,wind_speed,rain_1h,snow_1h,clouds_all,isSun,sunlightTime,dayLength,SunlightTime/daylength,weather_type,hour,month
196771,2022-08-31 16:45:00,118,23.7,18.6,1023,57,3.8,0.0,0.0,52,1,780,825,0.95,3,16,8
196772,2022-08-31 17:00:00,82,15.6,18.5,1023,61,4.2,0.0,0.0,60,1,795,825,0.96,3,17,8
196773,2022-08-31 17:15:00,51,8.0,18.5,1023,61,4.2,0.0,0.0,60,1,810,825,0.98,3,17,8
196774,2022-08-31 17:30:00,24,2.1,18.5,1023,61,4.2,0.0,0.0,60,1,825,825,1.00,3,17,8
196775,2022-08-31 17:45:00,0,0.0,18.5,1023,61,4.2,0.0,0.0,60,0,0,825,0.00,3,17,8

In [8]:
#Check dataset "size" amount of rows columns
data_frame.shape

(196776, 17)