In [3]:
#Importing libraries for data pre-processing and analysis
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

dataset_path = "../Dataset/Renewable.csv"
data_frame = pd.read_csv(dataset_path)

In [2]:
print(data_frame)

                       Time  Energy delta[Wh]   GHI  temp  pressure  humidity  \
0       2017-01-01 00:00:00                 0   0.0   1.6      1021       100
1       2017-01-01 00:15:00                 0   0.0   1.6      1021       100
2       2017-01-01 00:30:00                 0   0.0   1.6      1021       100
3       2017-01-01 00:45:00                 0   0.0   1.6      1021       100
4       2017-01-01 01:00:00                 0   0.0   1.7      1020       100
...                     ...               ...   ...   ...       ...       ...
196771  2022-08-31 16:45:00               118  23.7  18.6      1023        57
196772  2022-08-31 17:00:00                82  15.6  18.5      1023        61
196773  2022-08-31 17:15:00                51   8.0  18.5      1023        61
196774  2022-08-31 17:30:00                24   2.1  18.5      1023        61
196775  2022-08-31 17:45:00                 0   0.0  18.5      1023        61

        wind_speed  rain_1h  snow_1h  clouds_all  isSun  sunlightTime  \
0              4.9      0.0      0.0         100      0             0
1              4.9      0.0      0.0         100      0             0
2              4.9      0.0      0.0         100      0             0
3              4.9      0.0      0.0         100      0             0
4              5.2      0.0      0.0         100      0             0
...            ...      ...      ...         ...    ...           ...
196771         3.8      0.0      0.0          52      1           780
196772         4.2      0.0      0.0          60      1           795
196773         4.2      0.0      0.0          60      1           810
196774         4.2      0.0      0.0          60      1           825
196775         4.2      0.0      0.0          60      0             0

        dayLength  SunlightTime/daylength  weather_type  hour  month
0             450                    0.00             4     0      1
1             450                    0.00             4     0      1
2             450                    0.00             4     0      1
3             450                    0.00             4     0      1
4             450                    0.00             4     1      1
...           ...                     ...           ...   ...    ...
196771        825                    0.95             3    16      8
196772        825                    0.96             3    17      8
196773        825                    0.98             3    17      8
196774        825                    1.00             3    17      8
196775        825                    0.00             3    17      8

[196776 rows x 17 columns]

In [4]:
#Get the first 5 rows for easier view of data
data_frame.head(5)

,Time,Energy delta[Wh],GHI,temp,pressure,humidity,wind_speed,rain_1h,snow_1h,clouds_all,isSun,sunlightTime,dayLength,SunlightTime/daylength,weather_type,hour,month
0,2017-01-01 00:00:00,0,0.0,1.6,1021,100,4.9,0.0,0.0,100,0,0,450,0.0,4,0,1
1,2017-01-01 00:15:00,0,0.0,1.6,1021,100,4.9,0.0,0.0,100,0,0,450,0.0,4,0,1
2,2017-01-01 00:30:00,0,0.0,1.6,1021,100,4.9,0.0,0.0,100,0,0,450,0.0,4,0,1
3,2017-01-01 00:45:00,0,0.0,1.6,1021,100,4.9,0.0,0.0,100,0,0,450,0.0,4,0,1
4,2017-01-01 01:00:00,0,0.0,1.7,1020,100,5.2,0.0,0.0,100,0,0,450,0.0,4,1,1

In [6]:
#Get the botton 5 rows to get a feel of how the data evolves from the top down
data_frame.tail(5)

,Time,Energy delta[Wh],GHI,temp,pressure,humidity,wind_speed,rain_1h,snow_1h,clouds_all,isSun,sunlightTime,dayLength,SunlightTime/daylength,weather_type,hour,month
196771,2022-08-31 16:45:00,118,23.7,18.6,1023,57,3.8,0.0,0.0,52,1,780,825,0.95,3,16,8
196772,2022-08-31 17:00:00,82,15.6,18.5,1023,61,4.2,0.0,0.0,60,1,795,825,0.96,3,17,8
196773,2022-08-31 17:15:00,51,8.0,18.5,1023,61,4.2,0.0,0.0,60,1,810,825,0.98,3,17,8
196774,2022-08-31 17:30:00,24,2.1,18.5,1023,61,4.2,0.0,0.0,60,1,825,825,1.00,3,17,8
196775,2022-08-31 17:45:00,0,0.0,18.5,1023,61,4.2,0.0,0.0,60,0,0,825,0.00,3,17,8

In [8]:
#Check dataset "size" amount of rows columns
data_frame.shape

(196776, 17)

In [9]:
#Understand data, datatypes and null counts
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196776 entries, 0 to 196775
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Time                    196776 non-null  object
 1   Energy delta[Wh]        196776 non-null  int64
 2   GHI                     196776 non-null  float64
 3   temp                    196776 non-null  float64
 4   pressure                196776 non-null  int64
 5   humidity                196776 non-null  int64
 6   wind_speed              196776 non-null  float64
 7   rain_1h                 196776 non-null  float64
 8   snow_1h                 196776 non-null  float64
 9   clouds_all              196776 non-null  int64
 10  isSun                   196776 non-null  int64
 11  sunlightTime            196776 non-null  int64
 12  dayLength               196776 non-null  int64
 13  SunlightTime/daylength  196776 non-null  float64
 14  weather_type            196776 non-null  int64
 15  hour                    196776 non-null  int64
 16  month                   196776 non-null  int64
dtypes: float64(6), int64(10), object(1)
memory usage: 25.5+ MB

***Above we observe that each column has the maximum number of entries***
***Therefore: No null values in the dataset***

**Time is an object data-type, it should be converted to datetime**
**IsSun is an int data-type, it should be converted to 0 = Not Sunny and 1 = Sunny**

In [10]:
#Lets double check for the missing values 
data_frame.isnull().sum()

Time                      0
Energy delta[Wh]          0
GHI                       0
temp                      0
pressure                  0
humidity                  0
wind_speed                0
rain_1h                   0
snow_1h                   0
clouds_all                0
isSun                     0
sunlightTime              0
dayLength                 0
SunlightTime/daylength    0
weather_type              0
hour                      0
month                     0
dtype: int64

**Comfirmed that there are no null values**

In [ ]:
#Breakdown of data basic statistics(looking for descreptencies)
data_frame.describe()

,Energy delta[Wh],GHI,temp,pressure,humidity,wind_speed,rain_1h,snow_1h,clouds_all,isSun,sunlightTime,dayLength,SunlightTime/daylength,weather_type,hour,month
count,196776.000000,196776.000000,196776.000000,196776.000000,196776.000000,196776.000000,196776.000000,196776.000000,196776.000000,196776.000000,196776.000000,196776.000000,196776.000000,196776.000000,196776.000000,196776.000000
mean,573.008228,32.596538,9.790521,1015.292780,79.810566,3.937746,0.066035,0.007148,65.974387,0.519962,211.721094,748.644347,0.265187,3.198398,11.498902,6.298329
std,1044.824047,52.172018,7.995428,9.585773,15.604459,1.821694,0.278913,0.069710,36.628593,0.499603,273.902186,194.870208,0.329023,1.289939,6.921887,3.376066
min,0.000000,0.000000,-16.600000,977.000000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,450.000000,0.000000,1.000000,0.000000,1.000000
25%,0.000000,0.000000,3.600000,1010.000000,70.000000,2.600000,0.000000,0.000000,34.000000,0.000000,0.000000,570.000000,0.000000,2.000000,5.000000,3.000000
50%,0.000000,1.600000,9.300000,1016.000000,84.000000,3.700000,0.000000,0.000000,82.000000,1.000000,30.000000,765.000000,0.050000,4.000000,11.000000,6.000000
75%,577.000000,46.800000,15.700000,1021.000000,92.000000,5.000000,0.000000,0.000000,100.000000,1.000000,390.000000,930.000000,0.530000,4.000000,17.000000,9.000000
max,5020.000000,229.200000,35.800000,1047.000000,100.000000,14.300000,8.090000,2.820000,100.000000,1.000000,1020.000000,1020.000000,1.000000,5.000000,23.000000,12.000000

In [16]:
#Convert the time column to date_time for better analysis
data_frame["Time"] = pd.to_datetime(data_frame["Time"]) 

data_frame.head(5)

,Time,Energy delta[Wh],GHI,temp,pressure,humidity,wind_speed,rain_1h,snow_1h,clouds_all,isSun,sunlightTime,dayLength,SunlightTime/daylength,weather_type,hour,month
0,2017-01-01 00:00:00,0,0.0,1.6,1021,100,4.9,0.0,0.0,100,0,0,450,0.0,4,0,1
1,2017-01-01 00:15:00,0,0.0,1.6,1021,100,4.9,0.0,0.0,100,0,0,450,0.0,4,0,1
2,2017-01-01 00:30:00,0,0.0,1.6,1021,100,4.9,0.0,0.0,100,0,0,450,0.0,4,0,1
3,2017-01-01 00:45:00,0,0.0,1.6,1021,100,4.9,0.0,0.0,100,0,0,450,0.0,4,0,1
4,2017-01-01 01:00:00,0,0.0,1.7,1020,100,5.2,0.0,0.0,100,0,0,450,0.0,4,1,1

In [17]:
#Let's check that it's changed
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196776 entries, 0 to 196775
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Time                    196776 non-null  datetime64[ns]
 1   Energy delta[Wh]        196776 non-null  int64
 2   GHI                     196776 non-null  float64
 3   temp                    196776 non-null  float64
 4   pressure                196776 non-null  int64
 5   humidity                196776 non-null  int64
 6   wind_speed              196776 non-null  float64
 7   rain_1h                 196776 non-null  float64
 8   snow_1h                 196776 non-null  float64
 9   clouds_all              196776 non-null  int64
 10  isSun                   196776 non-null  int64
 11  sunlightTime            196776 non-null  int64
 12  dayLength               196776 non-null  int64
 13  SunlightTime/daylength  196776 non-null  float64
 14  weather_type            196776 non-null  int64
 15  hour                    196776 non-null  int64
 16  month                   196776 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(10)
memory usage: 25.5 MB